h1{
    text-align: center;
}
div.gambar{
    height: 154px;
    width: 404px;
    float: left;
}
img{
    height: 117px;
    width: 424px;
    padding-left: 20px;
    padding-top: 40px;
}
div.dataDiri{
    height: 154px;
    width: 500px;
    float: right;
}
label{
    font-size: 13pt;
}
form.dataDiri{
    position: relative;
    top: 50px;
    left: 200px;

}
input.data{
    width: 200px;
    height: 25px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
form.Pertanyaan{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 50px;
}
input.radio{
    margin-left: 20px;
}
button{
    background-color: hsl(344, 95%, 51%);
    width: 150px;
    height: 35px;
    margin-left: 615px;
    color: rgb(15, 1, 1);
    border: none;
    border-radius: 25px;

}